@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<form action="privacy" method="post">
    Id<input type="text" name="id" />
    Nome <input type="text" name="Nome" />
         <input type="submit" name="Salvar" value="Salvar" />
</form>