@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <strong>Erro: </strong>@ViewData["Mensagem"]

    </div>

}
@if (ViewData["Warning"] != null)
{
    <div class="alert alert-warning alert-dismissible">
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <strong>Atenção: </strong>@ViewData["Mensagem"]

    </div>

}
@if (ViewData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <strong>Sucesso: </strong>@ViewData["Mensagem"]

    </div>

}
@if (ViewData["Informação"] != null)
{
    <div class="alert alert-info alert-dismissible">
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <strong>Informação: </strong>@ViewData["Mensagem"]

    </div>

}